<div class="container" id="index-page">
  <h1 id="title-otaku">Otaku</h1>
  <div id="form-search">
    <h2>Tu es fan de manga, tu cherche à emprunter ou prêter un manga, tu es à la bonne adresse !</h2>
    <%= form_tag mangas_path, id: "form-bar", method: :get do %>
    <%= text_field_tag :query,
            params[:query],
            id: "search-bar",
            class: "form-control",
            placeholder: "Entre le manga que tu recherches..."
        %>
    <% end %>
  </div>
  <div id="cards-product">
  <% @mangas.each do |manga| %>
  <% unless manga.actually_loaned? %>
      <div class="card-product">
        <%= cl_image_tag manga.photo, class: "img-index-card" %>
          <div class="card-product-infos">
            <h2><%= manga.serie_name %> - Tome <%= manga.tome_number %> : <%= manga.title %></h2>
            <span><%= empty?(manga.editor) ? "Editeur : #{manga.editor}" : '' %></span>
            <p> <%= empty?(manga.genre) ? "Genre: #{manga.genre}" : '' %>  <%="// Date: #{manga.publication_date.split('-').first.to_i}" if empty?(manga.publication_date)%></p>
          </div>
          <div class="primary-button">
            <%= link_to 'Voir', manga_path(manga), class: "button-otaku" %>
          </div>
      </div>
    <% end %>
  <% end %>
</div>