<div class="row">
  <div class="col-lg-3">
    <div class="img">
      <p><%= cl_image_tag @manga.photo, height: 300, width: 400, crop: :fill %></p>
    </div>
    <div class="secondary-data">
      <p>data</p>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="title p-3">
    <h1><%= @manga.title %></h1>
    <h4><%= @manga.title %>: <%= @manga.description %></h4>
    <h5>Auteur: <%= @manga.author %></h5>
    </div>
    <div class="px-3 description mt-3">
      <h2>Description</h2>
      <p><%= @manga.description %></p>
    </div>
    <div class="px-3 share_buttons text-center mt-3">
      <h1></h1>
      <a href="#" class="btn primary-button mx-1"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="btn primary-button mx-1"><i class="fab fa-instagram"></i></a>
      <a href="#" class="btn primary-button mx-1"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="action-btn p-3 text-center">
      <p>Durée du prêt:  <span id="loan_duration"><%= @manga.loan_duration %></span>jours</p>
      <%= simple_form_for([@manga, @loan]) do |f| %>
        <%= f.input :started_at, as: :date, start_day: Date.today,
                              end_day: Date.today + 14,
                              order: [:month, :day],
                              label: 'Date de retrait' %>
        <%= f.button :submit, class: "button-otaku", value: 'Emprunter' %>
      <% end %>
    </div>
  </div>
</div>
