<div class="container margin-bottom-value" id="show">
  <div class="row">
    <div class="col-lg-3">
      <div class="secondary-data">
        <div class="img">
          <p><%= cl_image_tag @manga.photo, height: 400, width: 220 %></p>
        </div>

        <ul class="show-secondary-data">
          <li>Editeur : <%= @manga.editor %></li>
          <li>Genre : <%= @manga.genre %></li>
          <li>Date de publication : <%= which_month(@manga.publication_date) %>
            <%= which_year(@manga.publication_date) %></li>
          <li>Pages : <%= @manga.pages_number %></li>
          <li>Langue : <%= @manga.language %></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="title p-3">
        <h1><%= @manga.title %></h1>
        <h2><%= @manga.serie_name %>, Tome <%= @manga.tome_number %></h2>
        <p>Auteur : <%= @manga.author %></p>
      </div>
      <div class="px-3 description mt-3">
        <h2>Description</h2>
        <p><%= @manga.description %></p>
      </div>
      <div class="px-3 share_buttons text-center mt-3">
        <h1></h1>
        <span>Partager le livre sur :</span>
        <a href="#" class="btn primary-button mx-1"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="btn primary-button mx-1"><i class="fab fa-instagram"></i></a>
        <a href="#" class="btn primary-button mx-1"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
    <div class="col-lg-3">
    <div class="action-btn p-3">
      <p>Durée du prêt :  <span id="loan_duration" data-value="<%= @manga.loan_duration %>"><%= @manga.loan_duration %></span>jours</p>
      <%= simple_form_for([@manga, @loan], remote: true) do |f| %>
        <%= f.input :started_at, as: :string, label: 'Date de retrait', class: "dateInput", input_html: { class: "datepicker" } %>
        <div class="errors-message"></div>
        <p>Date de retour : <span id="returning-date"></span></p>
        <%= f.button :submit, class: "button-otaku", value: 'Emprunter' %>
        <% end %>
      </div>
    </div>
  </div>
</div>