<div class="container col-9">
  <h2>En location</h2>
  <% @mangas.each do |manga| %>
    <% if manga.actually_loaned? %>
      <div>
        <%= cl_image_tag manga.photo, class: "img-mangas-card", height: 200, width: 200,                            gravity: :center, crop: :crop %>
        <div>
          <h3><%= manga.serie_name %>: <%= manga.title %></h3>
          <p>Auteur: <%= manga.author %></p>
            <p>Loué à: <%= manga.loan.last.user.first_name %> <%= manga.loan.last.user.last_name %></p>
            <p>Date de location: <%= which_day(manga.loan.last.started_at) %> <%= which_month(manga.loan.last.started_at) %> <%= which_year(manga.loan.last.started_at) %> </p>
            <p>Date de retour: <%= date_concat(manga.loan.last.started_at, manga.loan_duration) %> </p>
        </div>
      </div>
    <% end %>
  <% end %>
  <h2>Non loués</h2>
  <div class="non-loues">
    <% @mangas.each do |manga| %>
    <div>
      <%= cl_image_tag manga.photo, class: "img-mangas-card", height: 200, width: 200,                            gravity: :center, crop: :crop %>
      <div>
        <h3><%= manga.serie_name %>: <%= manga.title %></h3>
        <p>Auteur: <%= manga.author %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
