<div class="container">
  <h1>Mes emprunts</h1>
  <div class="recap-grid">
  <% @loans.each do |loan| %>
      <div class="recap-card">
        <%= cl_image_tag loan.manga.photo, class: "img-recap-card", height: 150, width: 100 %>
        <div class="description-recap-card">
          <h3><%= loan.manga.serie_name %>: <br> <%= loan.manga.title %></h3>
          <div class="information-manga">
            <p>Auteur : <%= loan.manga.author %></p>
            <p>Nombre de pages : <%= loan.manga.pages_number %></p>
            <p>A rendre le : <%=  date_concat(loan.started_at, loan.manga.loan_duration) %></p>
          </div>
          <div class="description-manga">
            <h3>Description du manga :</h3>
            <p><%= loan.manga.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
